@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 229 20% 20%;
        --foreground: 232 28% 79%;
        --muted: 229 12% 24%;
        --muted-foreground: 229 12% 74%;
        --popover: 229 20% 17%;
        --popover-foreground: 232 28% 89%;
        --card: 229 20% 18%;
        --card-foreground: 232 28% 84%;
        --border: 229 10% 25%;
        --input: 229 10% 28%;
        --primary: 174 42% 65%;
        --primary-foreground: 174 42% 5%;
        --secondary: 174 30% 25%;
        --secondary-foreground: 174 30% 85%;
        --accent: 229 20% 35%;
        --accent-foreground: 229 20% 95%;
        --destructive: 2 91% 59%;
        --destructive-foreground: 0 0% 100%;
        --ring: 174 42% 65%;
        --radius: 0.5rem;
        --warning: 43 100% 50%; /* Couleur orangée */
        --warning-foreground: 0 0% 100%; /* Texte blanc */
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}
